<img  src="assets/images/sugarcane/7.webp" style="width:1680px; height:1200px;">
<section>
    <div class="container">
    <div class="row pt-5">
    <h1 class="text-center display-1 text-SUCCESS">STEPS TO CULTIVATE THE SUGARCANE</h1>
    </div>
   
    <div class="row g-4 p-5">
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
    <img  src="assets/images/sugarcane/6.jpg" style="width:230px; height:154px;">
    <h5 class="mb-3">Season and Planting</h5>
    <p> Sugarcane is grown chiefly in the main season (December - May) in the entire State. In parts of Tiruchirapalli, Perambalur, Karur, Salem, Namakkal and Coimbatore districts, it is also raised during the special season (June - September). The particulars in respect of each season are given below:

        Season, Period of Planting.<br>
        
        1.   Main season<br>
        
                i) Early   : Dec - Jan            ii) Mid : Feb - March<br>            iii) Late: April - May
        
        2. Special season : June - July<br>
        
        Early season varieties are suitable for special season.
    </p>
   
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-globe text-primary mb-4"></i>
    <img src="assets/images/sugarcane/3.jpg" style="width:230px; height:154px;">
    <h5 class="mb-3"> Particulars of Variety</h5>
    <p>Co 0238 was evaluated at 7 locations under the AICRP (Sugarcane) during 2006-08 in NWZ. It ranked 1st for cane yield (81 ton/ha), 2nd for sugar yield and 5th for sucrose content (%).<br>
        Glucose.<br>
Fructose (a.k.a. fruit sugar)<br>
Sucrose (a.k.a. table sugar)<br>
Lactose (a.k.a. dairy sugar)<br>
        </p>
        
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
      <div class="p-4">
        <i class="fa fa-3x fa-home text-primary mb-4"></i>
        <img src="assets/images/sugarcane/8.jpg" style="width:230px; height:154px;">
        <h5 class="mb-3">District/Season - Suitable Varieties</h5>
        <p>Sugarcane planting is done in December-February for the 12-month crop which is called Eksali, in October-November for the 15 to 16 month crop which is called Preseasonal, and in July-August for the 18-month crop, which is called Adsali.<br>
            Co 0238 (Karan 4) is a high yielding and high sugar content variety, derived from the cross Co LK 8102 x Co 775.<br>
            Uttar Pradesh<br>

It is the largest sugarcane producing state in India.<br>
Uttar Pradesh is an important name in the production of various crops, including sugarcane production. Up's districts known for sugarcane production are Meerut, Bareilly, Saharanpur, and Bulandshahr.
        </p>
   
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="service-item text-center pt-3">
        <div class="p-4">
        <i class="fa fa-3x fa-book text-primary mb-4"></i>
        <img src="assets/images/sugarcane/9.jpg" style="width:230px; height:154px;">
        <h5 class="mb-3">Crop Management </h5>
        <p>Main Field Preparation for Planting Sugarcane.<br>

            1. Preparation of Field<br>
            
            a) Wetland (Heavy soils): In wetlands, preparatory cultivation by ploughing the land and bringing the soil to fine tilth could not be done.<br>
            
            i. After harvest of the paddy crop, form irrigation and drainage channels of 40 cm depth and 30 cm width at intervals of 6 m across the field and along the field borders.<br>
            
            ii Form ridges and furrows with a spacing of 80 cm between rows with spade.<br>
            
            iii.Stir the furrows with hand hoes and allow the soil to weather for 4 to 5 days.<br>
            
            b) Problem soils with excessive soil moisture:<br>
            
            In problem soils, with excessive moisture where it is difficult to drain water, form raised beds at 30 cm intervals with Length - 5 m, Width - 80 cm, and Height -15 cm.</p><br>
   
        </div>
        </div>
        </div>
        
            
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <img  src="assets/images/sugarcane/10.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3">Planting.</h5>
            <p> Different systems of planting is not found to influence the millable cane population, commercial cane sugar per cent, cane and sugar yield.<br>

                Irrigate the furrows to form a slurry in wet land condition (Heavy soil)<br>
                
                Place the setts along the centre of the furrows, accommodating 12 buds/metre length.    Keep the buds in the lateral position and press gently beneath the soil in the furrow.Avoid exposure of setts to sunlight.<br>
                
                Plant more setts near the channel or double row planting at every 10th row for gap filling, at later stage.In dry/ garden land dry method of planting may be followed.  First arrange the setts along the furrows, cover the setts with soil and then irrigate.<br>
            </p>
           
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <img src="assets/images/sugarcane/11.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3"> Improved technologies on cane planting systems.</h5>
            <p>Mechanisation of planting<br>
                TNAU  mechanical planter is useful for cost effective planting with saving of Rs.3750 / ha and it can cover an area of 1.5ha/day
                Reduces the human labour drudgery and seed rate up to 5 tones/ha.
                Paired row system of planting double side planting of sugarcane setts with 150 + 30 cm spacing for Astraf 8000 series (Mechanical  harvester) operated areas and 150 + 30 cm spacing for New Holland 4000 series operated areas may be adopted with single row of cane planting.
                Sugarcane cultivates under subsurface drip system the laterals may be placed 20cm depth in the furrows and setts are placed 5cm above the laterals.
                For sustainable sugarcane initiative system (SSI) transplanting young chip bud seedling raised in portray (25-35 days old) in wide spacing (5x2 feet) in the main field with drip fertigation system.
                Daincha / Sunhemp intercropping in the wider spaced cane cultivated area for improving soil health and reduce the weed infestation. It also reduces early shoot borer incidences and increases cane yield.
                </p>
                
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-home text-primary mb-4"></i>
                <img src="assets/images/sugarcane/12.jpg" style="width:230px; height:154px;"><br>
                <h5 class="mb-3"> Filling up gaps.</h5>
                <p>Fill the gaps, if any, within 30 days after planting with sprouted setts.<br>
                    Gap filling with two budded setts/ poly bag seedlings within 15 to 20 days after planting to maintain optimum plant stand.<br>
                    Maintain adequate moisture for 3 weeks for proper establishment of the sprouted  setts.<br>
                </p>
           
                </div>
            </div>
        </div>
            
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <img src="assets/images/sugarcane/13.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3"> Trash Mulching:</h5>
            <p>Mulch the ridges uniformly with cane trash to a thickness of 10 cm within a week after planting. 
                 It helps to tide over drought,conserves moisture, reduce weed population and minimise shoot borer incidence.</p>
              
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <img src="assets/images/sugarcane/14.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3">Raising Inter crops:</h5>
            <p>In areas of adequate irrigation, sow one row of soybean or blackgram or greengram along the centre of the ridge on the 3rd day of planting.
                 Intercropping of daincha or sunhemp along ridges and incorporation of the same on the 45th day during partial earthing up helps to increase the soil fertility, and also the cane yield.
                </p>
                
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-home text-primary mb-4"></i>
                <img src="assets/images/sugarcane/15.jpg" style="width:230px; height:154px;">
                <h5 class="mb-3"> Weed Management:</h5>
                <p>Your rice will be growing for many months and weeds might spring up during that time. Make sure to uproot any weeds to keep the area clear for growth.</p>
                </div>
            </div>
            </div>
            
        <div class="col-lg-3 col-sm-6">
        <div class="service-item text-center pt-3">
        <div class="p-4">
        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
        <img src="assets/images/sugarcane/16.jpg" style="width:230px; height:154px;">
        <h5 class="mb-3">Earthing Up:</h5>
        <p> After application of 3rd dose fertilizer (90 days), work victory plough along the ridges for efficient and economical earthing up. At 150 days after planting, earthing up may be done with spade.</p>
          
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="service-item text-center pt-3">
        <div class="p-4">
        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
        <img src="assets/images/sugarcane/17.jpg" style="width:230px; height:154px;">
        <h5 class="mb-3">Detrashing:</h5>
        <p>Remove the dry cane leaves on 150th and 210th day to avoid borer infestation.


            </p>
            
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-home text-primary mb-4"></i>
            <img src="assets/images/sugarcane/18.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3"> Propping</h5>
            <p> Do double line propping with trash twist at the age of 210 days of the crop.</p>
            </div>
        </div>
        </div>
        
    </div>
</div>
</section> 

            
        

           
        

