<img  src="assets/images/cotton/7.webp" style="width:1680px; height:1200px;" >
<section>
    <div class="container">
    <div class="row pt-5">
    <h1 class="text-center display-1 text-SUCCESS">INFORMATION ABOUT THE COTTON CROPING</h1>
    </div>
   
    <div class="row g-4 p-5">
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
    <img  src="assets/images/cotton/4.jpg" style="width:230px; height:154px;">
    <h5 class="mb-3">Major Constraints in Cotton Production</h5>
    <p>Nearly 65 percent cotton area is rainfed, mainly in the Central and Southern States<BR>
        Cotton crop is highly prone to pests and diseases.<BR>
        Wide fluctuation in cotton prices, inadequate market infrastructure and cotton export<BR>
         policy.
    </p>
   
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-globe text-primary mb-4"></i>
    <img src="assets/images/cotton/5.png" style="width:230px; height:154px;">
    <h5 class="mb-3">Area, Production & Yield of Cotton in India </h5>
    <p>Area, production & yield of cotton in major States during last 6 years & current
        year is at Annexure I. State wise normal area, production & yield of cotton is at
        Annexure II. Area, Production & Yield of major cotton growing countries during 2012-13
        to 2016-17 is at Annexure III.
        
        
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
      <div class="p-4">
        <i class="fa fa-3x fa-home text-primary mb-4"></i>
        <img src="assets/images/cotton/6.jpg" style="width:230px; height:154px;">
        <h5 class="mb-3"> Cultivated Species</h5>
        <p>There are four cultivated species of cotton viz. Gossypium arboreum,
            G.herbaceum, G.hirsutum and G.barbadense. The first two species are diploid (2n=26)
            and are native to old world. They are also known as Asiatic cottons because they are
            grown in Asia. The last two species are tetraploid (2n=52) and are also referred to as New
            World Cottons.
        </p>
   
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="service-item text-center pt-3">
        <div class="p-4">
        <i class="fa fa-3x fa-book text-primary mb-4"></i>
        <img src="assets/images/cotton/7.jpg" style="width:230px; height:154px;">
        <h5 class="mb-3">Climate & Soil Requirement  </h5>
        <p>Cotton, a semi-xerophyte, is grown in tropical & sub tropical conditions. A
            minimum temperature of 15oC is required for better germination at field conditions. The
            optimum temperature for vegetative growth is 21-27oC & it can tolerate temperature to
            the extent of 43oC but temperature below 21oC is detrimental to the crop. Warm days of
            cool nights with large diurnal variations during the period of fruiting are conducive to
            good boll & fibre development.</p>
   
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="container">
            
            <div class="row g-4 p-5">
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <img  src="assets/images/cotton/8.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3">Crop Season.</h5>
            <p> The sowing season of cotton varies considerably from tract to tract and is
                generally early (April-May) in northern India and is delayed as we proceed to down south
                (monsoon based in southern zone). Cotton is a Kharif crop in the major parts of the
                country viz. Punjab, Haryana, Rajasthan, Uttar Pradesh, Madhya Pradesh, Gujarat,
                Maharashtra and parts of Andhra Pradesh & Karnataka. In these areas, the irrigated crop
                is sown from March-May and the rain fed crop in June-July with the commencement of
                the monsoon.
            </p>
           
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <img src="assets/images/cotton/9.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3">  Preparation of land.</h5>
            <p>The time available for land preparation following the harvest of wheat is limited in
                the north zone. Pre-sowing irrigation is undertaken after the harvest of wheat. The land is
                worked upon with tractor-drawn implements, then levelled & planked before preparing
                ridges upon which sowing is done.
                In central and southern zone of India where cotton is a rainfed crop, deep
                ploughing recommended to destroy perennial weeds once in 4 years. 
                </p>
                
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-home text-primary mb-4"></i>
                <img src="assets/images/cotton/16.jpg" style="width:230px; height:154px;"><br>
                <h5 class="mb-3"> Method of sowing.</h5>
                <p>Cotton is sown using tractor or bullock drawn seed drill or by dibbling. Hand
                    dibbling of seeds at recommended spacing is commonly practiced in rainfed areas
                    particularly for hybrids. This system ensures proper plant stand, uniform geometry and
                    also saves seeds. This is now main system of sowing of Bt. Hybrids. Cotton cultivation on
                    ridges across the slopes conserves more water, reduces soil erosion and improves yield. 
                </p>
           
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-home text-primary mb-4"></i>
                <img src="assets/images/cotton/11.jpg" style="width:230px; height:154px;"><br>
                <h5 class="mb-3">Irrigation Scheduling</h5>
                <p>Depending upon the climate & crop-growing period, cotton needs 700-1,200 mm
                    water to meet its maximum water requirement. The water requirement is low during first
                    60-70 days after sowing & highest during flowering & boll development.
                    Cotton is commonly flood irrigated although irrigation by furrow or alternate
                    furrow method is more effective and water saving. Drip irrigation is becoming popular
                    particularly in the hybrids for central and southern zones. s. Cotton needs to be irrigated at
                    50-70% depletion of available soil moisture. On sandy loam soils of northern zone 3-5
                    irrigations are commonly given.
                </p>
           
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-home text-primary mb-4"></i>
                <img src="assets/images/cotton/8.webp" style="width:230px; height:154px;"><br>
                <h5 class="mb-3">Inter cultivation & weed control</h5>
                <p>Inter-cultivation is done fairly regularly by either a blade harrow with a three tined
                hoe or a desi plough. In the crop sown by broadcasting, one or two hand hoeing’s are
                given to remove weeds, inter-cultivation not only checks the growth of weeds but also
                leads to better soil aeration and soil moisture conservation.
                Weeds compete with cotton crop for nutrients, light and moisture. Cotton is
                susceptible to weed competition from sowing to about 70 days when the canopy covers the
                inter-spaces. Cotton yields are reduced by 50 to 85% if weed growth is unchecked.
                
                </p>
           
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-home text-primary mb-4"></i>
                <img src="assets/images/cotton/cropsys.jpg" style="width:230px; height:154px;"><br>
                <h5 class="mb-3"> Cropping system & Intercropping in Cotton</h5>
                <p>Cotton-based intercropping offers a better solution to cope with the situation. The system of companion plantation of one crop with another during the same growing season on the same piece of land offers an option. The basic objective is to augment yields by multiplying the available growing area.
                </p>
           
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-home text-primary mb-4"></i>
                <img src="assets/images/cotton/manag.webp" style="width:230px; height:154px;"><br>
                <h5 class="mb-3"> Management of insect pests & diseases</h5>
                <p>Cotton is one of the most important commercial crops of India. Cotton crop is infested with different kinds of insects in the production cycle. Jassids, thrips, aphids and whiteflies are among sucking pests and bollworm (American and spotted) and spodoptera caterpillars which attack on leaves and bolls.
                </p>
           
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section>
            <div class="container">
            <div class="row pt-5">
            <h1 class="text-center display-1 text-SUCCESS">Schemes for Cotton Development</h1>
            </div>
            <div class="row g-4 p-5">
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <img src="assets/images/cotton/13.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3">I. MM-II of TMC</h5>
            <p>Government of India launched a Centrally Sponsored Scheme of Technology
                Mission on Cotton (TMC) during 2000. Mini Mission-II (MM-II) of TMC was on cotton
                development with the aim to increase the production & productivity of cotton. MM-II of
                TMC was implemented by the Department of Agriculture, Cooperation & Farmers
                Welfare (DAC&FW) in 13 States viz. Andhra Pradesh, Gujarat, Haryana, Karnataka,
                Madhya Pradesh, Maharashtra, Orissa, Punjab, Rajasthan, Tamil Nadu, Uttar Pradesh,
                West Bengal and Tripura from 2000-01 to 2013-14. </p>
              
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <img src="assets/images/cotton/14.jpeg" style="width:230px; height:154px;">
            <h5 class="mb-3">II. National Food Security Mission- Commercial Crops (Cotton) Programme.</h5>
            <p>Cotton Development Programme is being implemented under National Food
                Security Mission - Commercial Crops (NFSM-CC) for enhancing production and
                productivity w.e.f 2014-15 in 15 States viz., Assam, Andhra Pradesh, Gujarat, Haryana,
                Karnataka, Madhya Pradesh, Maharashtra, Orissa, Punjab, Rajasthan, Telangana, Tamil
                Nadu, Tripura, Uttar Pradesh & West Bengal. Under this scheme thrust has been given on
                transfer of technology through frontline demonstrations and training in order to extend
                benefits to the farmers. 
                </p>
                
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                <div class="p-4">
                <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                <img src="assets/images/cotton/15.jpg" style="width:230px; height:154px;">
                <h5 class="mb-3">III. Cotton Development under Rashtriya Krishi VikasYojana (RKVY)</h5>
                <p>There is no earmarked allocation of funds for cotton under RKVY. However, the
                    States can undertake cotton programme under RKVY with the approval of State Level
                    Sanctioning Committee (SLSC) under the chairmanship of Chief Secretary of the State.
                    </p>
                    
                </div>
                </div>
                </div>
            
        </div>
    </div>
</section>