
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Hello AGRIFO</h1>
		<strong><p>Login For The Better experiance and Full access.
		Expand Your Market Through Agrigo</p></strong>
		</div>
	</div>
	
	
		<div class="right">
		<h3>OTP Login</h3>
		<p>Login Through phone Number/Email</p>
		<div class="inputs">
			<input type="text" placeholder="Enter OTP">
			
			<br><br>
			
		<div class="remember-me--forget-password">
				<!-- Angular -->
			
			<br>
			<button><a class="nav-link active" aria-current="page"
  routerLink="/Reset">Login</a></button>
	</div>
	
</div>
<!-- partial -->
  

