<img  src="assets/images/paddy/11.webp" style="width:1680px; height:1200px;">
<section>
    <div class="container">
    <div class="row pt-5">
    <h1 class="text-center display-1 text-SUCCESS">STEPS TO CULTIVATE THE PADDY</h1>
    </div>
   
    <div class="row g-4 p-5">
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
    <img  src="assets/images/paddy/3.jpg" style="width:230px; height:154px;">
    <h5 class="mb-3">Plan around the rice-growing season</h5>
    <p> The optimal growing season for rice is from March through October,
         and the rice will take roughly six months to grow until it’s ready to be harvested.
        See that the crop must grow the in that season.
    </p>
   
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-globe text-primary mb-4"></i>
    <img src="assets/images/paddy/4.jpg" style="width:230px; height:154px;">
    <h5 class="mb-3">Purchase seeds from a local nursery</h5>
    <p>You can find most common rice grain varieties at any local farming store or nursery. 
        You’ll want at least 1–2 ounces of seeds.
        The seed must give the highest yeild crop.
        </p>
        
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
      <div class="p-4">
        <i class="fa fa-3x fa-home text-primary mb-4"></i>
        <img src="assets/images/paddy/5.jpg" style="width:230px; height:154px;">
        <h5 class="mb-3"> Soak the seeds.</h5>
        <p>Fill a bucket with non-chlorinated water and immerse the seeds for 24–36 hours, or until germination begins with small rootlets growing out from the seed.
            See that the seeds should not come more sprouts for the seed planting.
        </p>
   
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="service-item text-center pt-3">
        <div class="p-4">
        <i class="fa fa-3x fa-book text-primary mb-4"></i>
        <img src="assets/images/paddy/6.jpg" style="width:230px; height:154px;">
        <h5 class="mb-3">Prepare your soil. </h5>
        <p>Rice will grow best in semi-acidic soil that has very little drainage. Heavy clay or loam will retain water well,
             and you can use mulch, compost, or fertilizer-rich potting soil to create the right environment for growth.</p>
   
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="container">
            
            <div class="row g-4 p-5">
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <img  src="assets/images/paddy/7.1.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3">Prepare your area for planting.</h5>
            <p> Rice will grow best in full sun and in a waterlogged environment similar to a flooded field. You can grow your rice in gallon buckets, a raised bed like a garden box, 
                or you can create long troughs in the soil in your garden bed that can be filled with water. If you are planting your seeds in a bucket or box, make sure your soil level is at least 6 inches high.
            </p>
           
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <img src="assets/images/paddy/8.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3"> Plant the seeds.</h5>
            <p>Plant your soaked and germinated seeds in the soil roughly a half-inch
                 deep and with around 6 inches of space between each seed.
                </p>
                
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-home text-primary mb-4"></i>
                <img src="assets/images/paddy/9.jpg" style="width:230px; height:154px;"><br>
                <h5 class="mb-3">  Flood your area.</h5>
                <p>Fill your growing area with water until the soil has saturated and there is at least 2 inches of water above the soil. Your growing area needs to be constantly wet for the seeds to grow, so make sure your water isn’t draining too quickly.
                    How to Care for Rice Grains
                </p>
           
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section>
            <div class="container">
            <div class="row pt-5">
            <h1 class="text-center display-1 text-SUCCESS">CARE FOR GRAINS</h1>
            </div>
            <div class="row g-4 p-5">
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <img src="assets/images/paddy/9.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3">Make sure your soil is constantly wet:</h5>
            <p>Check back regularly to add water to your soil to keep it flooded. Try to keep the water level at two inches above the soil when first growing and up to four inches when the rice stalks grow above six inches tall. Never let the soil dry out.</p>
              
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <img src="assets/images/paddy/1.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3">Try to keep your seeds warm:</h5>
            <p>If the nights get chilly, move your plants indoors or try covering them to trap warmth inside.
                </p>
                
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-home text-primary mb-4"></i>
                <img src="assets/images/paddy/10.jpg" style="width:230px; height:154px;">
                <h5 class="mb-3">Remove any weeds that appear:</h5>
                <p>Your rice will be growing for many months and weeds might spring up during that time. Make sure to uproot any weeds to keep the area clear for growth.</p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
    <section>
        <div class="container">
        <div class="row pt-5">
        <h1 class="text-center display-1 text-SUCCESS">TIPS FOR HARVESTING RICE</h1>
        </div>
        <div class="row g-4 p-5">
        <div class="col-lg-3 col-sm-6">
        <div class="service-item text-center pt-3">
        <div class="p-4">
        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
        <img src="assets/images/paddy/12.jpg" style="width:230px; height:154px;">
        <h5 class="mb-3">Check that your rice is ready for harvest:</h5>
        <p> Over the course of four to six months after first planting,
             the rice may have grown to around 3–4 feet tall, and sometimes higher. You will know it’s ready for harvest when the rice grains at the top of the stalk, called the seedheads, are no longer green and have turned a golden brown.</p>
          
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="service-item text-center pt-3">
        <div class="p-4">
        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
        <img src="assets/images/paddy/13.jpg" style="width:230px; height:154px;">
        <h5 class="mb-3">Cut and dry the stalks:</h5>
        <p>Cut the stalks at the top, right below where the clusters of rice grains (called the panicles) are located. Place these in the sun and allow them to dry for one to two weeks, or until they are completely dried out.
            </p>
            
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-home text-primary mb-4"></i>
            <img src="assets/images/paddy/14.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3"> Remove the grains from the cluster</h5>
            <p>In rice production, the step when you remove grains from the cluster is called threshing. You can remove each grain individually, or a faster method is to place the panicle cluster in a bag and beat them against a wall or hard surface until they separate and collect in the bag.</p>
            </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-home text-primary mb-4"></i>
                <img src="assets/images/paddy/11.jpg" style="width:230px; height:154px;">
                <h5 class="mb-3">Sell the paddy to government</h5>
                <p>In rice production, the step is to sell the paddy to the goverment. The government is provided the paddy production center for every village and they will check the paddy temperature and they will act as mediator between the farmer and Ricemill.</p>
                </div>
            </div>
            </div>
    </div>
    </div>
</section>                
        
