
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Hello AGRIFO</h1>
		<strong><p>Login For The Better experiance and Full access.
		Expand Your Market Through Agrigo</p></strong>
		
		</div>
	</div>
        <div class="right">
		<h2>Login</h2>
		<p>Don't have an account? <a  routerLink="/Register">Create Your Account</a> it takes less than a minute</p>
		<form ngNativeValidate #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)">
			<div class="form-group">
				<label class="form-check-label" for="form2Example3">
					Emailid
				  </label>
				<input type="email" name="email" class="form-control" [(ngModel)]="email" requried>
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" name="password" class="form-control" [(ngModel)]="password" minlength="3" maxlength="8" requried>
			</div>
			<br>
			<div class="form-group">
				<button class="btn btn-danger btn-block">Submit</button>
			</div>
		</form>
			
		<div class="remember-me--forget-password">
				<!-- Angular -->
	<label class="form-check-label" for="form2Example3">
		<input class="form-check-input me-2" type="checkbox" value="" id="form2Example3">
		<span class="text-checkbox">Remember me</span>
	</label>
	<a class="nav-link active" aria-current="page"
		routerLink="/Forgot">forget password?</a>
		</div>
			
	</div>
	
</div>
 
