<section>
    <div class="container">
    <div class="row pt-5">
    <h1 class="text-center display-1 text-primary">ABOUT US</h1>
    </div>
    <div class="row g-5 p-5">
    <div class="col-lg-6">
    <div class="position-relative h-100">
    <img class="img-fluid position-absolute w-100 h-100"
    src="assets/images/about/1.jpg" alt="" style="object-fit: cover;">
    </div>
    </div>
    <div class="col-lg-6">
    <h6 class="section-title bg-white text-start text-primary pe-3">About
    Us</h6>
    <h1 class="mb-4">Welcome to AGRITECH</h1>
    <p class="mb-4">We provide the imformation about the four main crops there full details from the cultivation of the land to the yeilding of the crops.</p>
    <p class="mb-4">Step by step process will be provide in the website and you can contact us for any another information and you can also contact to the farmers for the more information.</p>
    <div class="row gy-2 gx-4 mb-4">
    <div class="col-sm-6">
    <p class="mb-0"><i class="fa fa-arrow-right text-primary
    me-2"></i>provide fertilizers</p>
    </div>
    <div class="col-sm-6">
    <p class="mb-0"><i class="fa fa-arrow-right text-primary
    me-2"></i>recommanded seed crops</p>
    </div>
    <div class="col-sm-6">
    <p class="mb-0"><i class="fa fa-arrow-right text-primary
    me-2"></i>cultivation of crop</p>
    </div>
    <div class="col-sm-6">
    <p class="mb-0"><i class="fa fa-arrow-right text-primary
    me-2"></i></p>
    </div>
    <div class="col-sm-6">
    <p class="mb-0"><i class="fa fa-arrow-right text-primary
    me-2"></i></p>
    </div>
    <div class="col-sm-6">
    <p class="mb-0"><i class="fa fa-arrow-right text-primary
    me-2"></i></p>
    </div>
    </div>
    <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
</div>
</div>
</div>
</section>
<!-- about us data ends here -->
<section>
    <div class="container">
    <div class="row p-4">
    <h1 class="display-2 text-center text-primary">Reach Us</h1>>
    </div>
    <div class="row">
    <div class="col-md-6 p-4">
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3803.844977334288!2d78.44
    167531503894!3d17.562565902351366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s
    0x3bcb8ff8652b6823%3A0x981713dbb4b708c3!2sMalla%20Reddy%20University!5e0!3m2!1sen!2s
    in!4v1650612396817!5m2!1sen!2sin"width="100%" height="450" style="border:0;" allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-6 p-4">
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Full
    Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1"
    placeholder="Enter your Name">
    </div>
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Phone
    Number</label>
    <input type="text" class="form-control" id="exampleFormControlInput1"
    placeholder="Phone Number">
    </div>
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email
    address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1"
    placeholder="name@example.com">
    </div>
    <div class="mb-3">
    <label for="exampleFormControlTextarea1"
    class="form-label">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1"
rows="3"></textarea>
</div>
<div class="mb-3">
<button class="btn btn-primary">SUBMIT</button>
</div>
</div>
</div>
</div>
</section>
    
