<section>
    <div class="container">
    <div class="row pt-5">
    <h1 class="text-center display-1 text-SUCCESS">FERTILIZERS USED IN THE PADDY</h1>
    </div>
   
    <div class="row g-4 p-5">
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
    <img  src="assets/images/fertilizers/1.jpg" style="width:230px; height:154px;">
    <h5 class="mb-3">N.P.K.</h5>
    <p> NPK stands for "nitrogen, phosphorus, and potassium," the three nutrients that compose complete fertilizers. Here N is given for nitric acid therefore this could not be the answer. 
        Therefore the correct answer is C. Nitrogen Phosphorus and Potassium.
    </p>
   
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-globe text-primary mb-4"></i>
    <img src="assets/images/fertilizers/2.jpg" style="width:230px; height:154px;">
    <h5 class="mb-3">Bone manure</h5>
    <p>Bone meal (or Bone manure) is a mixture of finely and coarsely ground animal bones and slaughter-house waste products. It is used as an organic fertilizer for plants and as a nutritional supplement for animals.
        </p>
        
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
      <div class="p-4">
        <i class="fa fa-3x fa-home text-primary mb-4"></i>
        <img src="assets/images/fertilizers/3.jpg" style="width:230px; height:154px;">
        <h5 class="mb-3">Organic Farming.</h5>
        <p>Animal-based fertilizers available to both organic and conventional growers include blood meal, bone meal, feather meal and fish meal. Of these, feather meal (13-0-0) is highest in nitrogen and bone meal (1-13-0) is highest in phosphorus.

        </p>
   
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="service-item text-center pt-3">
        <div class="p-4">
        <i class="fa fa-3x fa-book text-primary mb-4"></i>
        <img src="assets/images/fertilizers/3.png" style="width:230px; height:154px;">
        <h5 class="mb-3">Urea</h5>
        <p>Urea, also called carbamide, is a neutral quick-acting fertilizer. It is an organic compound composed of carbon, nitrogen, oxygen, and hydrogen. It is also a nitrogen fertilizer with a high nitrogen content. It is suitable for various soils and plants and can be used as a base fertilizer.</p>
   
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="container">
            
            <div class="row g-4 p-5">
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <img  src="assets/images/fertilizers/4.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3">DAP</h5>
            <p> Di-ammonium Phosphate prominently known as DAP is favoured manure in India since it contains both Nitrogen and Phosphorus which are essentially large scale supplements and part of 18 fundamental plant supplements.
            </p>
           
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <img src="assets/images/fertilizers/5.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3">TSP</h5>
            <p>Triple superphosphate (TSP) was one of the first high-analysis phosphorus (P) fertilizers that became widely used in the 20th century. Technically, it is known as calcium dihydrogen phosphate and as monocalcium phosphate, [Ca (H₂PO₄)₂ .H₂O].
                </p>
                
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-home text-primary mb-4"></i>
                <img src="assets/images/fertilizers/6.jpg" style="width:230px; height:154px;"><br>
                <h5 class="mb-3">Zinc</h5>
                <p>Zinc sulfate, ammoniated zinc, and chelated zinc are three fertilizer options. Sulfates are the most commonly applied inorganic zinc fertilizer.
                     Zinc sulfate is a granular product that may be banded or broadcast. 
                </p>
           
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section>
    <div class="container">
    <div class="row pt-5">
    <h1 class="text-center display-1 text-SUCCESS">FERTILIZERS USED FOR SUGARCANE</h1>
    </div>
   
    <div class="row g-4 p-5">
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
    <img  src="assets/images/fertilizers/sugarcane/1.1.jpg" style="width:230px; height:154px;">
    <h5 class="mb-3">Nitrogen</h5>
    <p> Nitrogen is the key nutrient element influencing sugarcane yield and quality. It is required for vegetative growth, i.e., tillering, foliage formation, stalk formation, stalk growth (internode formation, internode elongation, increase in stalk girth and weight) and root growth. Since vegetative growth is directly related to yield in sugarcane, the role of nitrogen is paramount to build yield.<br>
        Deficiency of nitrogen causes paleness of foliage, early leaf senescence, thinner and shorter stalk, and longer but thinner roots.
    </p>
   
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
      <div class="p-4">
        <i class="fa fa-3x fa-home text-primary mb-4"></i>
        <img src="assets/images/fertilizers/sugarcane/2.png" style="width:230px; height:154px;">
        <h5 class="mb-3">phosphorus.</h5>
        <p>Normal cane development depends greatly on the presence of phosphates in soluble, plant absorbable form in the soil. Phosphorus requirement is relatively less than N and K.<br>
            Phosphorus plays a very significant role in sugarcane production. It stimulates root growth and is required for adequate tillering. It interacts with nitrogen and thus influences ripening.<br>
            Deficiency of phosphorus leads to reduced tillering, delay in canopy closure and thus leads to greater weed infestation. Stalk elongation is also affected.
        </p>
   
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="service-item text-center pt-3">
        <div class="p-4">
        <i class="fa fa-3x fa-book text-primary mb-4"></i>
        <img src="assets/images/fertilizers/sugarcane/3.png" style="width:230px; height:154px;">
        <h5 class="mb-3">Potassium</h5>
        <p>Pottasium requirement by the crop in general is greater than nitrogen or phosphorus. For sugar synthesis and its translocation to the storage tissue, potassium is highly important.<br>
            Potassium gives resistance to sugarcane against pests and disease attack and lodging. It helps sugarcane under moisture stress by maintaining cell turgidity.<br>
            It has a balancing effect on both nitrogen and phosphorus.
            </p>
   
        </div>
        </div>
        </div>
      
  
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <img  src="assets/images/fertilizers/1.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3">N.P.K.</h5>
            <p> NPK stands for "nitrogen, phosphorus, and potassium," the three nutrients that compose complete fertilizers. Here N is given for nitric acid therefore this could not be the answer. 
                Therefore the correct answer is C. Nitrogen Phosphorus and Potassium.
            </p>
           
            </div>
            </div>
            </div>
      
   
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                <div class="p-4">
                <i class="fa fa-3x fa-book text-primary mb-4"></i>
                <img src="assets/images/fertilizers/3.png" style="width:230px; height:154px;">
                <h5 class="mb-3">Urea</h5>
                <p>Urea, also called carbamide, is a neutral quick-acting fertilizer. It is an organic compound composed of carbon, nitrogen, oxygen, and hydrogen. It is also a nitrogen fertilizer with a high nitrogen content. It is suitable for various soils and plants and can be used as a base fertilizer.</p>
           
                </div>
                </div>
                </div>
       
    </div>
</div>
</section>
<section>
    <div class="container">
    <div class="row pt-5">
    <h1 class="text-center display-1 text-SUCCESS">FERTILIZERS USED FOR SUNFLOWER</h1>
    </div>
   
    <div class="row g-4 p-5">
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
    <img  src="assets/images/fertilizers/sunflower/1.webp" style="width:230px; height:154px;">
    <h5 class="mb-3">Down to Earth Organic Bone Meal Fertilizer 3-15-0, 5 lb</h5>
    <p> These slow-releasing bone meal granules last for up to four months. It’s one I really feel good about using around my sunflowers and throughout my garden. Making it my pick for the best organic fertilizer.
    </p>
   
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
      <div class="p-4">
        <i class="fa fa-3x fa-home text-primary mb-4"></i>
        <img src="assets/images/fertilizers/sunflower/2.webp" style="width:230px; height:154px;">
        <h5 class="mb-3">J R Peters Inc 51024 Jacks Classic No.1.5 10-30-20 Blossom Booster Fertilizer.</h5>
        <p>Blossom Booster 10-30-20 is a Professional formula designed to produce more flowers and brighter colors on all indoor and outdoor plants
            All indoor and outdoor flowering plants like: geraniums, impatiens, begonias and marigolds.
            Feeds through both the roots and the leaves

        </p>
   
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="service-item text-center pt-3">
        <div class="p-4">
        <i class="fa fa-3x fa-book text-primary mb-4"></i>
        <img src="assets/images/fertilizers/sunflower/3.webp" style="width:230px; height:154px;">
        <h5 class="mb-3">Miracle-Gro 1-Pound 1360011 Water Soluble Bloom Booster Flower Food, 10-52-10, 1 Pack</h5>
        <p>For all blooming plants<br>
            Instantly feeds for beautiful results<br>
            Feed every 2 weeks<br>
            Prevents overfeeding and burning when used as directed.
            </p>
   
        </div>
        </div>
        </div>
      
            
       
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <img  src="assets/images/fertilizers/sunflower/4.webp" style="width:230px; height:154px;">
            <h5 class="mb-3">Espoma Bm04 4 Lb Organic Bone Meal All Natural Plant Food 4-12-0</h5>
            <p> Espoma bone meal is an ideal supplement to fertilizers<br>
                Domestic bone meal is 100% pure<br>
                No additives or fillers<br>
                For bulbs and all perennials at planting time.
            </p>
           
            </div>
            </div>
            </div>
        </div>
    </div>
   
    <div class="container">
        <div class="row g-4 p-5">
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <img src="assets/images/fertilizers/sunflower/5.webp" style="width:230px; height:154px;">
            <h5 class="mb-3">Scotts Super Bloom Water Soluble Plant Food, 2 lb - NPK 12-55-6 - Fertilizer for Outdoor Flowers, Fruiting Plants, Containers and Bed Areas - Feeds Plants Instantly.</h5>
            <p>Contains high phosphorus to help plants bloom<br>
                Feed every 1-2 weeks for best results<br>
                Water-soluble plant food feeds plants instantly<br>
                For outdoor flowers, fruiting plants, containers and bed areas<br>
                Won't burn your plants when used as directed.
                
                </p>
                
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-home text-primary mb-4"></i>
                <img src="assets/images/fertilizers/sunflower/6.webp" style="width:230px; height:154px;"><br>
                <h5 class="mb-3">Miracle-Gro Plant Food 3002210 Shake 'N Feed Rose and Bloom Continuous Release Pl, 4.5 lb</h5>
                <p>Contains natural ingredients to feed microbes in the soil<br>
                    Promotes more blooms and spectacular color in flowering plants and roses versus unfed plants<br>
                    For new and existing roses and flowering plants<br>
                    Feeds up to 3 months<br>
                    Takes the Guesswork Out of Feeding!<br>
                </p>
           
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section>
    <div class="container">
    <div class="row pt-5">
    <h1 class="text-center display-1 text-SUCCESS">FERTILIZERS USED FOR COTTON</h1>
    </div>
   
    <div class="row g-4 p-5">
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
    <img  src="assets/images/fertilizers/1.jpg" style="width:230px; height:154px;">
    <h5 class="mb-3">N.P.K.</h5>
    <p> NPK stands for "nitrogen, phosphorus, and potassium," the three nutrients that compose complete fertilizers. Here N is given for nitric acid therefore this could not be the answer. 
        Therefore the correct answer is C. Nitrogen Phosphorus and Potassium.
    </p>
   
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-globe text-primary mb-4"></i>
    <img src="assets/images/fertilizers/2.jpg" style="width:230px; height:154px;">
    <h5 class="mb-3">Bone manure</h5>
    <p>Bone meal (or Bone manure) is a mixture of finely and coarsely ground animal bones and slaughter-house waste products. It is used as an organic fertilizer for plants and as a nutritional supplement for animals.
        </p>
        
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
      <div class="p-4">
        <i class="fa fa-3x fa-home text-primary mb-4"></i>
        <img src="assets/images/fertilizers/3.jpg" style="width:230px; height:154px;">
        <h5 class="mb-3">Organic Farming.</h5>
        <p>Animal-based fertilizers available to both organic and conventional growers include blood meal, bone meal, feather meal and fish meal. Of these, feather meal (13-0-0) is highest in nitrogen and bone meal (1-13-0) is highest in phosphorus.

        </p>
   
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="service-item text-center pt-3">
        <div class="p-4">
        <i class="fa fa-3x fa-book text-primary mb-4"></i>
        <img src="assets/images/fertilizers/3.png" style="width:230px; height:154px;">
        <h5 class="mb-3">Urea</h5>
        <p>Urea, also called carbamide, is a neutral quick-acting fertilizer. It is an organic compound composed of carbon, nitrogen, oxygen, and hydrogen. It is also a nitrogen fertilizer with a high nitrogen content. It is suitable for various soils and plants and can be used as a base fertilizer.</p>
   
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="container">
            
            <div class="row g-4 p-5">
         
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <img src="assets/images/fertilizers/5.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3">TSP</h5>
            <p>Triple superphosphate (TSP) was one of the first high-analysis phosphorus (P) fertilizers that became widely used in the 20th century. Technically, it is known as calcium dihydrogen phosphate and as monocalcium phosphate, [Ca (H₂PO₄)₂ .H₂O].
                </p>
                
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-home text-primary mb-4"></i>
                <img src="assets/images/fertilizers/6.jpg" style="width:230px; height:154px;"><br>
                <h5 class="mb-3">Zinc</h5>
                <p>Zinc sulfate, ammoniated zinc, and chelated zinc are three fertilizer options. Sulfates are the most commonly applied inorganic zinc fertilizer.
                     Zinc sulfate is a granular product that may be banded or broadcast. 
                </p>
           
                </div>
            </div>
        </div>
    </div>
</div>
</section>