<img  src="assets/images/sunflower/2.webp" style ="width:1680px; height:1200px;" >
<section>
    <div class="container">
    <div class="row pt-5">
    <h1 class="text-center display-1 text-SUCCESS">STEPS TO CULTIVATE THE SUNFLOWER</h1>
    </div>
   
    <div class="row g-4 p-5">
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
    <img  src="assets/images/sunflower/2.jpg" style="width:230px; height:154px;">
    <h5 class="mb-3">Check the outdoor temperatures. </h5>
    <p>While sunflowers can be started indoors, they work best if they're started in the ground. Sunflower roots are sensitive to being moved, so transplanting them may kill them.
         They grow best at temperatures between 64 and 91ºF (18–33ºC), but you can plant at slightly lower temperatures, 
        once the last frost has passed.
        Sunflowers usually take 80 to 120 days to mature and produce new seeds, depending on the variety.
        If the growing season is shorter than this in your area, plant the sunflowers two weeks before the last frost; most seeds will probably survive.
    </p>
   
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-globe text-primary mb-4"></i>
    <img src="assets/images/sunflower/3.jpg" style="width:230px; height:154px;">
    <h5 class="mb-3">Select a sunflower variety.  </h5>
    <p>There are many sunflower varieties and hybrids, but most gardeners will only need to look at a couple characteristics,
         usually described on the seed packet or online listing. 
         Be sure to check the sunflower's maximum height, since this ranges from dwarf varieties under 1 foot (30 cm), to giant sunflowers 15 ft (4.6 m) or taller. Also, decide between a sunflower that produces one stalk and flower, or one that branches out into multiple stalks with several smaller blooms.

        </p>
        
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
      <div class="p-4">
        <i class="fa fa-3x fa-home text-primary mb-4"></i>
        <img src="assets/images/sunflower/4.jpg" style="width:230px; height:154px;">
        <h5 class="mb-3"> Choose a sunny location.</h5>
        <p> Sunflowers grow best with six to eight hours of sunlight a day, when they can get it.
             Choose a location that receives direct sunlight during most of the day.
             Unless your garden receives strong wind, keep the sunflowers away from trees, walls, and other objects that block sunlight.
        </p>
   
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="service-item text-center pt-3">
        <div class="p-4">
        <i class="fa fa-3x fa-book text-primary mb-4"></i>
        <img src="assets/images/sunflower/5.jpg" style="width:230px; height:154px;">
        <h5 class="mb-3">Planting Sunflowers </h5>
        <p>Sunflowers are sun worshipers that grow best in spots that get six to eight hours of direct sun per day.

            They have long tap roots that need to go several feet into the ground, so sunflower plants prefer loose, well-drained, somewhat alkaline soil with a pH of 6.0 to 7.5.
            
            Sunflowers are heavy feeders, so they’ll be healthiest and generate the most blooms in nutrient-rich soil that has had compost or other organic matter mixed into it.</p>
   
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="container">
            
            <div class="row g-4 p-5">
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <img  src="assets/images/sunflower/6.webp" style="width:230px; height:154px;">
            <h5 class="mb-3">When to Plant Sunflowers.</h5>
            <p> Plant seeds after the danger of spring frost has passed and the soil temperature is at least 60 degrees. This will be between March and May, depending on where you live.<br>

                You can get starter plants at a nursery or home improvement store, but growing sunflower plants is easiest if you grow them from seed sown directly into the ground. More varieties of sunflowers are available to you if you grow from seed. Growing sunflowers from seed is super easy, too.
            </p>
           
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <img src="assets/images/sunflower/7.jpg" style="width:230px; height:154px;">
            <h5 class="mb-3"> How to Plant Sunflower Seeds.</h5>
            <p>Plant the seeds no more than an inch deep and about 6 inches apart. Thin the seedlings once they hit 6 inches tall, leaving the strongest plants about 12 inches apart.<br>

                For continuous blooms, stagger your planting, sowing a new row of seeds every two to three weeks, beginning in the spring. Succession planting, as this is called, will keep you supplied with continuous blooms until first frost.<br>
                
                How long does it take for sunflowers to grow? From the time you put the seed in the soil to bloom ranges between 80 and 120 days, depending on the variety.
                </p>
                
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-home text-primary mb-4"></i>
                <img src="assets/images/sunflower/8.jpg" style="width:230px; height:154px;"><br>
                <h5 class="mb-3">Caring for Sunflowers.</h5>
                <p>When the plant is small, water the area around the roots, about 4 inches from the plants.<br>

                    Once the plant is established, water deeply but infrequently to encourage the plant to grow deep roots. Water once a week with several gallons of water per plant, more often if the weather is very dry or very hot.<br>
                    
                    Tall varieties may need support so they don’t topple under the weight of their blooms. Bamboo or other types of wood stakes work well.
                </p>
           
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-home text-primary mb-4"></i>
                <img src="assets/images/sunflower/9.jpg" style="width:230px; height:154px;">
                <h5 class="mb-3">Harvesting Sunflower Seeds.</h5>
                <p> The brown middle of the sunflower will mature into a seed head after the petals fall off. You can harvest them and eat them (seeds make a nutrient-rich snack), or save the seeds to replant next year’s garden. If you’re growing sunflowers to save and eat the seed, do the following:<br>
                    Let the flower dry on or off the stem until the back of the head turns brown and the seeds are plump.<br>
        
        To keep birds and squirrels from getting the seed, you’ll need to cover the flower heads with garden fleece, cheesecloth or a paper bag after the seed heads mature and the petals fall off the blooms.<br>
        
        Cut the head off the plant leaving about 6 inches of stem. Place the head in a container to catch loose seeds.<br>
        
        To remove the seeds, brush your hand over the seed head, knocking out the seeds.<br>
        
        If you’re saving the seeds to plant, store them in an airtight container in a cool, dry place until planting time.<br>
                </p>
           
                </div>
                </div>
                </div>
    </div>
</div>
</section>
<section>
    <div class="row g-4 p-5">
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
    <img  src="assets/images/sunflower/10.jpg" style="width:230px; height:154;">
    <h5 class="mb-3">Pests and Diseases.</h5>
    <p>Fungal diseases like downy mildew, rust and powdery mildew can infect the plants. Spray infected leaves with a general garden fungicide.
    </p>
   
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-globe text-primary mb-4"></i>
    <img src="assets/images/sunflower/11.jpg" style="width:230px; height:154;">
    <h5 class="mb-3">Cutting Sunflowers for Bouquets </h5>
    <p>Cut flowers early in the morning, before heat has stressed the plants. Harvesting blooms in the middle of a hot day can cause the flowers to wilt prematurely.<br>

        For sunflower varieties that branch into multiple stems, cutting the main stem of the plant before its bud has opened will encourage the plant to make more blooms on the sides of the stem. More flowers is good.<br>
        
        Handle cut flowers gently so their petals don’t fall off. Cut sunflowers will last about a week in water at room temperature.

        </p>
        
    </div>
    </div>
    </div>
    
    </div>

</section>
<section>
    <div class="container">
    <div class="row pt-5">
    <h1 class="text-center display-1 text-SUCCESS">Recommended Varieties</h1>
    </div>
   
    <div class="row g-4 p-5">
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
    <img  src="assets/images/sunflower/12.jpg" style="width:230px; height:154px;">
    <h5 class="mb-3">Russian Mammoth.</h5>
    <p>Russian Mammoth is the traditional giant sunflower, an aptly named variety that can grow to more than 12 feet tall with blooms the diameter of dinner plates. Its seeds are good for snacks for you or birds.
    </p>
   
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
    <div class="p-4">
    <i class="fa fa-3x fa-globe text-primary mb-4"></i>
    <img src="assets/images/sunflower/13.jpg" style="width:230px; height:154px;">
    <h5 class="mb-3">Autumn Beauty.</h5>
    <p>Autumn Beauty is a gorgeous cultivar that grows branching stems of blooms in tones of yellow, orange, bronze and red. Blooms are 4" to 6" across on plants that grow to 6 feet tall.

        </p>
        
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="service-item text-center pt-3">
      <div class="p-4">
        <i class="fa fa-3x fa-home text-primary mb-4"></i>
        <img src="assets/images/sunflower/14.jpg" style="width:230px; height:154px;">
        <h5 class="mb-3">Lemon Queen.</h5>
        <p>Lemon Queen has pale yellow blooms with chocolate brown centers that are 4" to 5" in diameter. Plants are multibranched and grow to 6 feet tall.
        </p>
   
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="service-item text-center pt-3">
        <div class="p-4">
        <i class="fa fa-3x fa-book text-primary mb-4"></i>
        <img src="assets/images/sunflower/15.jpg" style="width:230px; height:154px;">
        <h5 class="mb-3">Teddy Bear.</h5>
        <p>Teddy Bear is a tiny variety that grows just 2 feet tall. This small sunflower is ideal for containers and small gardens. Its soft, fluffy gold blossoms are 6 inches across and make good cut flowers.</p>
   
        </div>
        </div>
        </div>
        </div>
        </div>
       
</section>

